body{
	background-color: #d9e0e7;
}
#left-menu{
	width: 200px;
	position: fixed;
	top: 50px;
}
#menu-tap{
	border: none;
	background-color: inherit;
	font-size: 18px;
}
#menu-tap:focus{
	outline: none;
}
#foot{
	border-radius: 0;
	margin: 0;
	border: none;
}
.container .doc-img{
	text-align: center;
}
.container .doc-img img{
	width: 80%;
}
