



#content-1{
	background-color: #FFFFFF;
}
#content-1 img{
	width: 100%;
	padding: 0.73rem 1.01rem 0.54rem 1.02rem;
	border-bottom: 1px solid #EDEEF0;
}



#content-2{
	padding: 0.28rem 0.24rem 0.5rem 0.24rem;
	background-color: #FFFFFF;
}
#content-2 .title-1{
	font-size: 0.28rem;
	line-height: 0.4rem;
	color: #2B2B2B;
}
#content-2 .title-2{
	font-size: 0.24rem;
	line-height: 0.32rem;
	color: #737373;
}
#content-2 .title-3{
	font-size: 0.32rem;
	line-height: 0.32rem;
	color: #FF7A2C;
}
#content-2 .size-select{
	border-top: solid 1px #EDEEF0;
	padding-top: 0.5rem;
}
#content-2 .size-select span{
	font-size: 0.24rem;
	line-height: 0.33rem;
	color: #7D7D7D;
}
#content-2 .size-select button{
	font-size: 0.24rem;
	line-height: 0.33rem;
	color: #2B2B2B;
	margin: 0 0.08rem;
	padding: 0.11rem 0.64rem;
	background-color: #FFFFFF;
	border: none;
	background: url(../img/goods-2.svg);
	background-size: 100% 100%;
}
#content-2 .size-select button.active{
	background: url(../img/goods-3.svg);
	background-size: 100% 100%;
}


#content-3{
	background-color: #FFFFFF;
	margin-top: 0.24rem;
}
#content-3 .nav-tabs li{
	text-align: center;
	width: 50%;
}
#content-3 .nav-tabs li a{
	margin: 0;
	font-size: 0.28rem;
	line-height: 0.4rem;
	color: #2B2B2B;
	padding: 0.24rem 1.5rem;
}
#content-3 .nav-tabs li.active a{
	color: #608FF7 !important;
}
#content-3 .nav-tabs li a:focus{
	outline: none;
}
#content-3 .tab-content img{
	width: 100%;
}



#buy{
	border: none;
	background-color: #608FF7;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 0.88rem;
	font-size: 0.32rem;
	line-height: 0.45rem;
	color: #FFFFFF;
}
